/* Fonts */
@font-face {
	/* Sansation Regular */
	font-family: sansation;
	src: url('assets/fonts/Sansation_Regular.ttf');
}

@font-face {
	/* Sansation Bold */
	font-family: sansationBold;
	src: url('assets/fonts/Sansation_Bold.ttf');
}

@font-face {
	/* Sansation Light */
	font-family: sansationLight;
	src: url('assets/fonts/Sansation_Light.ttf');
}

@font-face {
	/* Sansation Italic */
	font-family: sansationItalic;
	src: url('assets/fonts/Sansation_Italic.ttf');
}

@font-face {
	/* Sansation Bold Italic */
	font-family: sansationBoldItalic;
	src: url('assets/fonts/Sansation_Bold_Italic.ttf');
}

@font-face {
	/* Sansation Light Italic */
	font-family: sansationLightItalic;
	src: url('assets/fonts/Sansation_Light_Italic.ttf');
}

body {
	background-color: #E5E4E2;
	color: #3a3a3a;
	font-family: sansation;
}

.darktheme {
	background-color: #0C090A;
	color: #eeeeee;
}

#themeButton {
	position: absolute;
	margin: 2em 2em 0 0;
	right: 0;
	top: 0;
	color: var(--fg);
	border: none;
	cursor: pointer;
	background-color: #00000000;
}

#themeIcon {
	width: 25px;
	height: 25px;
}

footer {
	font-size: x-small;
	font-family: sansationLight;
}

/* Sources 
	Font: https://www.dafont.com/sansation.font
*/